:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --verypaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
    --fuenteRed: 'Red Hat Display', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: var(--fuenteRed);
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--paleBlue);
    color: var(--darkBlue);
    font-family: var(--fuenteRed);
}

@media (min-width: 768px) {
    body {
        background-image: url(../images/pattern-background-desktop.svg);
        background-size: 100%;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contenedor {
    min-height: 95vh;
    width: min(33rem, 100%);
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*Box*/

.box {
    background-color: white;
    border-radius: 2rem;
    display: grid;
    text-align: center;
}


/*box__header*/

.box__header {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
}


/*box__text*/

.box__text {
    padding: 1rem 4rem;
}

.box__text--header {
    font-size: 2.2rem;
    font-weight: 900;
    margin-top: 1;
}

.box__text--parra {
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: var(--desaturatedBlue);
}


/*box__music*/

.box__music {
    background-color: var(--verypaleBlue);
    margin: auto 2.3rem;
    border-radius: 1.2rem;
    padding: 1rem .5rem;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.box__music--icon {
    grid-row: 1 / 3;
    margin-right: 0;
}

.plan--anual,
.plan--price {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
}

.plan--anual {
    margin-bottom: 0.3rem;
}

.plan--price {
    color: var(--desaturatedBlue);
    margin-top: 0.3rem;
}

.change {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline;
    color: var(--brightBlue);
}

.change:hover {
    color: hsl(245, 83%, 68%);
    ;
}

.box__music--change:hover {
    cursor: pointer;
}


/*box__boton*/

.box__boton--payment {
    background-color: var(--brightBlue);
    margin: 2rem;
    padding: 2rem 4rem;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    box-shadow: 0px 20px 20px rgb(56 42 255 / 20%);
}

.box__boton--payment:hover {
    transition: background .4s;
    background-color: hsl(245, 83%, 68%);
}

.box__boton--order {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--desaturatedBlue);
    margin: 3rem auto;
    transition: color .3s;
}

.box__boton--order:hover {
    color: var(--darkBlue);
}

.box__boton--payment,
.change,
.box__boton--order:hover {
    cursor: pointer;
}


/*atribution*/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--brightBlue);
}
