:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --veryDarkblueMain: hsl(217, 54%, 11%);
    --veryDarkblueCard: hsl(216, 50%, 16%);
    --veryDarkblue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
    background-color: var(--veryDarkblueMain);
    color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--softBlue);
}

h3 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--softBlue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.contenedor {
    min-height: 95vh;
    width: min(20rem, 100%);
    margin: auto auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--veryDarkblueCard);
    border-radius: 1rem;
    padding: 1.4rem;
}

.view {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.view-img {
    position: absolute;
    opacity: 0;
    width: 3em;
}

.view:hover::before {
    content: "";
    position: absolute;
    width: 17.2rem;
    height: 17.2rem;
    background-color: var(--cyan);
    opacity: 0.5;
    border-radius: 0.5rem;
}

.view:hover .view-img {
    opacity: 1;
    transition: all 0.6s ease;
}

.grid__img {
    width: 100%;
    border-radius: .5rem;
}

.grid__text {
    grid-column: 1 / 3;
}

.grid__text h1:hover {
    cursor: pointer;
    color: var(--cyan);
}

.grid__coin {
    display: flex;
    align-items: center;
}

.grid__coin--name {
    color: var(--cyan);
    font-weight: bold;
    margin-left: .5rem;
    ;
}

.grid__time {
    display: flex;
    align-items: center;
    justify-content: right;
}

.grid__time--name {
    margin-left: .5rem;
}

.grid__creator {
    display: flex;
    align-items: center;
    grid-column: 1 / 3;
    border-top: solid;
    border-width: thin;
    border-color: var(--veryDarkblue);
}

.grid__creator--avatar {
    width: 2rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: thin;
}

.grid__creator--name {
    color: var(--white);
}

.grid__creator--name:hover {
    cursor: pointer;
    color: var(--cyan);
}

.grid__creator h2 {
    margin-left: 0.3rem;
}


